<h4> Blackjack Game </h4>



Let's Play Some Blackjack  <%=session[:current_game].player_one.name%>

<br />

Player ones' hand is <%=session[:current_game].player_one.hand.hand_cards%>, with a value of <%=session[:current_game].player_one.hand.hand_value%>
<br />
Dealer is showing a <%=session[:current_game].player_dealer.hand.hand_cards[1]%>
<br />


<% if session[:current_game].player_dealer.playing_now %>
    Dealers' hand is <%=session[:current_game].player_dealer.hand.hand_cards%> with a value of <%=session[:current_game].player_dealer.hand.hand_value%>
    <br />
<% end %>

<% if session[:current_game].game_over %>
    Game results:
    <%=session[:current_game].calculate_winner%>
    <br />
    Current score is you have <%=session[:current_game].player_one.current_wins%> wins
    and the Dealer has <%=session[:current_game].player_dealer.current_wins%> wins
<% end %>


<% if !session[:current_game].player_dealer.playing_now %>
    <form action = '/hit' method = post>
        <input type = submit value = "Hit">
    </form>

    <form action = '/stay' method = post>
        <input type = submit value = "Stay">
    </form>
<% end %>

<% if session[:current_game].game_over %>
    <form action = '/play_again' method = get>
        <input type = submit value = "Play Again">
    </form>
<% end %>